<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container mt-4" >
    <div class="card">
    <h2>Customer Registration </h2>
<form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" [(ngModel)] = "customerName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" placeholder="Address" [(ngModel)] = "customerAddress" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control" placeholder="Mobile" [(ngModel)] = "mobile" [ngModelOptions]="{standalone: true}">
      </div>
    <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
  </form>
</div>

<div class="container mt-4" >
  <h2>Customer Table</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      @for (item of CustomerArray; track item.customerId) {
        <tr>
        <td scope="row">
        <td>{{item.customerId}}</td>
        <td>{{item.customerName}}</td>
        <td>{{item.customerAddress}}</td>
        <td>{{item.mobile}}</td>
        <td><button type="button" class="btn btn-success" (click)="setUpdate(item)">Edit</button></td>
              
        <td><button type="button" class="btn btn-danger" (click)="setDelete(item)">Delete</button></td>
      </tr>
      }
      
    </tbody>
  